
<div id="shell">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="macOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-windows">
          Windows does not include a Unix shell by default. You will need to install <b>Git for Windows</b> (often referred to as Git Bash), which provides both Git and a Bash shell in one program.<br>
          <br>
          <b>2a.</b> Download the Git for Windows <a href="https://gitforwindows.org/" target="_blank">installer</a>.<br>
          <b>2b.</b> Run the Git Bash installer. Work through each screen using the settings below:<br>
            <p style="margin-left:40px;">
              <b>b1.</b> Click <b>Next</b> on the <b>Information</b>, <b>Location</b>, <b>Components</b>, and <b>Start Menu</b> settings. You don't need to change any default values for these.<br>
              <b>b2.</b> From the dropdown menu, <b>Choosing the default editor used by Git</b>, select <b>Use the Nano editor by default</b>. Then click <b>Next</b>.<br>
              <b>b3.</b> On the setting <b>Adjusting the name of the initial branch in new repositories</b>, verify that <b>Let Git decide</b> is selected. This will ensure the highest level of compatibility for the module.<br>
              <b>b4.</b> Ensure that <b>Git from the command line and also from 3rd-party software </b> is selected, then click <b>Next</b>.<br>
              <b>⚠</b> This setting must be selected. If it is not, Git Bash will not function correctly and you will need to uninstall and reinstall the program.<br>
              <b>b5.</b> Select <b>Use bundled OpenSSH</b>.<br>
              <b>b6.</b> Select  <b>Use the native Windows Secure Channel Library</b>, then click <b>Next</b>.<br>
              <b>b7.</b> Select  <b>Checkout Windows-style, commit Unix-style line endings</b>, then click <b>Next</b>.<br>
              <b>b8.</b> Select  <b>Use Windows' default console window,</b>, then click <b>Next</b>.<br>
              <b>b9.</b> Select  <b>Default (fast-forward or merge)</b>, then click <b>Next</b>.<br>
              <b>b10.</b> Select  <b>Git Credential Manager</b>, then click <b>Next</b>.<br>
              <b>b11.</b> Select  <b>Enable file system caching</b>, then click <b>Next</b>.<br>
              <b>b12.</b> Click <b>Select</b>.<br>
              <b>b13.</b> Click <b>Finish</b> or <b>Next</b><br>
            </p>
          <b>2c.</b> Now you will need to configure your home folder by telling Git Bash where your home folder is located on your computer. To do this, open the Command Prompt (Open the <b>Start Menu</b> then type <code>cmd</code> and press <b>Enter</b>) and follow the steps below:<br>
            <p style="margin-left:40px;">
             <b>c1.</b> Type the following line into the Command Prompt window exactly as shown: <code>setx HOME "%USERPROFILE%"</code><br>
              <b>c2.</b> Press <b>Enter</b>, you should see <code>SUCCESS: Specified value was saved.</code><br>
              <b>c3</b> Type <code>exit</code> and press <b>Enter</b> to close the Command Prompt.<br>
            </p>
          <b>2d.</b> Verify your Git Bash installation by following the steps below: <br>
            <p style="margin-left:40px;">
              <b>d1.</b> Open Git Bash from the <b>Start Menu</b>.<br>
              <b>d2.</b> Type the following line into the Git Bash window: <code>bash --version</code><br>
              <b>d3.</b> Press <b>Enter</b>. You should see the window returns <code>GNU bash, version 5.2.X</code> or similar. Your Git Bash installation and setup for the module is complete. See step 3.<br>
            </p>
            </article>
      <article role="tabpanel" class="tab-pane" id="shell-macos">
        Bash is available in all versions of macOS. Follow these steps to verify that Bash is your default shell, and change it if needed.<br>
        <br>
          <b>2a.</b> Open the terminal app on your computer. You can locate it at <code>/Applications/Utilities</code>, or by searching for “terminal” using <b>Spotlight</b> (<b>⌘ Space</b>).<br>
          <b>2b.</b> Type the following line into your terminal window exactly as shown: <code>echo $SHELL</code><br>
          <b>2c.</b> Press <b>Enter</b>. If the output ends with <code>/bash</code> (for example <code>/bin/bash</code>), then continue to <b></b>step 2e</b> to verify your Bash shell. If it does not, continue to the next step.<br>
          <b>2d.</b> Type the following line into your terminal window and press <b>Return</b>: <code>chsh -s /bin/bash</code><br>
          <b>⚠</b> You may be prompted to enter your login password. Type it and press <b>Return</b>, the cursor will not move while you type.<br>
          <b>2e.</b> Reboot your computer, then continue onto <b>step 2f.</b><br>
          <b>2f.</b> Verify your Bash shell by following the steps below:<br>
            <p style="margin-left:40px;">
              <b>f1.</b> Open your terminal and type the following line: <code>bash --version</code><br>
              <b>f2.</b> Press <b>Return</b>. You should see your terminal return <code>GNU bash, version 5.2.X</code> or similar. If you have version 5.X.X, then your setup for the module is complete. See step 3.<br>
            </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
          Bash is available in almost all Linux distributions. Follow these steps to verify that is Bash your default shell:<br>
          <b>2a.</b> Type the following line into your terminal window exactly as shown: <code>echo $SHELL</code><br>
          <b>2b.</b> Press <b>Enter</b>. If the output ends with <code>/bash</code> (for example <code>/bin/bash</code>), then continue to <b>step 2c</b>. If it does not, follow these steps to change your default shell:<br>
            <p style="margin-left:40px;">
              <b>b1.</b> Type the following line into your terminal window exactly as shown: <code>chsh -s /bin/bash</code><br>
              <b>b2.</b> Reboot your computer, then continue to <b>step 2c.</b><br>
            </p>
          <b>2c.</b> Verify your Bash shell by following the steps below:<br>
          <b>⚠</b> You may be prompted to enter your login password. Type it and press <b>Return</b>, the cursor will not move while you type.<br>
          <b>2d.</b> Reboot your computer, then continue onto <b>step 2e.</b><br>
          <b>2e.</b> Verify your Bash shell by following the steps below:<br>
            <p style="margin-left:40px;">
              <b>e1.</b> Open your terminal and type the following line: <code>bash --version</code><br>
              <b>e2.</b> Press <b>Return</b>. You should see your terminal return <code>GNU bash, version 5.2.X</code> or similar. If you have version 5.X.X, then your setup for the module is complete. See step 3.<br>
            </p>
      </article>
    </div>
  </div>
</div>
